.campaign-swiper .swiper-wrapper .swiper-slide-prev{
left: 173px !important;
/* max-width: 300px !important; */
}

.campaign-swiper .swiper-wrapper .swiper-slide-next{
right: 173px !important;
/* max-width: 300px !important; */
}

.campaign-swiper .swiper-slide-prev {
  transform: translateX(-50%) scale(0.9);
  opacity: 0.6; 
  z-index: 1; 
  
}

.campaign-swiper .swiper-slide-next {
  transform: translateX(50%) scale(0.9);
  opacity: 0.6; 
  z-index: 1; 
}

.campaign-swiper .swiper-slide-active {
  transform: scale(1.10); 
  max-width: 450px !important;
  z-index: 10;   
}

.campaign-swiper .swiper-slide:not(.swiper-slide-active) .card-container {
  transform: scale(0.85); /* change this value to increase height */
  opacity: 0.9;
  transition: 0.4s ease;
  
}




@media (max-width: 768px) {
  .testimonial-header {
    font-size: 1.5rem;
  }

  .testimonial-subheader {
    font-size: 1rem;
  }

  .testimonial-card {
    padding: 20px;
  }
}


/* --------- Custom Pagiation ------ */
/* Pagination Style */
.campaign-swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-top: 0;
}

.campaign-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 30px;
  height: 8px;
  background: #D9D9D9;
  /* border: 2px solid #fff; */
  border-radius: 25px;
  opacity: 1;
  transition: 0.3s ease;
}

.campaign-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--color-primary);
  border: 2px solid var(--color-primary);  
}

/* Custom Navigation Buttons */
.custom-nav-btn {
  width: 46px;
  height: 46px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s ease;
}

.custom-nav-btn:hover {
  background: #fff;
  color: #000;
}

.custom-pagination .swiper-prev-btn {
  left: 20px;
}

.custom-pagination .swiper-next-btn {
  right: 20px;
}